<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<title>Ajout des Games</title>
	<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header" th:if="${mode=='new'}">Ajout des Games</div>
			<div class="card-header" th:if="${mode=='edit'}">Modification des Games</div>
			<div class="card-body">
				<form th:action="@{saveGame}" th:object="${gameDTO}" method="post">
					
					<input type="hidden" name="page" th:value="${page}" />
					<input type="hidden" name="size" th:value="${size}" />
					
					<input type="hidden" th:field="*{idGame}" />

					<div class="form-group">
						<label>Nom Game :</label>
						<input type="text" th:field="*{nomGame}" class="form-control" />
						<span th:errors="*{nomGame}" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label>Prix Game :</label>
						<input type="text" th:field="*{prixGame}" class="form-control" />
						<span th:errors="*{prixGame}" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label>Date de Sortie :</label>
						<input type="date" th:field="*{datedeSortie}" class="form-control" />
						<span th:errors="*{datedeSortie}" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label>Genre :</label>
						<select th:field="*{genre.idGen}" class="form-control">
							<option th:each="g : ${genres}" 
							        th:value="${g.idGen}" 
							        th:text="${g.nomGen}">
							</option>
						</select>
					</div>

					<div>
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
